{
  "presets": [
    ["stage-0"],
    [
      "latest", {
        "es2015": {
          "modules": false
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "react-loadable/babel"
    // "dynamic-import-node"
  ]
}