{
  "presets": [
    ["stage-0"],
    [
      "latest", {
        "es2015": {
          "modules": false
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "react-loadable/babel"
  ],
  "env": {
    "server": {
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}