.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    display: flex;
}
.menu {
    flex: 2;
}
.footer {
    text-align: center;
}
.results {
    flex: 10;
}
.hit {
    display: flex;
    align-items: center;
}
.hitContent {
    padding: 0px 10px;
}
.hitPicture {
    width: 80px;
    text-align: center;
    height: 80px;
    vertical-align: middle;
}
.hitPicture img {
    max-width: 80px;
    vertical-align: middle;
    height: auto;
    max-height: 80px;
}
.hitType {
    color: #888888;
    font-size: 13px;
}